{% extends "base.html.twig" %}

{% block title %}
    Bienvenue sur Colipay
{% endblock %}

{% block body %}

    <div class="container">
    <div class="jumbotron mt-3">
        <h1 class="display-3">Bienvenue sur Colipay</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vestibulum semper metus, ac feugiat risus eleifend quis. Nam hendrerit fringilla scelerisque. Nam quis felis eu lectus ultrices
            porttitor a vitae nibh. Ut aliquet enim a tellus suscipit, consectetur tincidunt ligula.</p>
        <a class="btn btn-primary btn-lg" href="{{ path('comment_list') }}" role="button">Voir les commentaire</a>
        <hr class="my-4">
        <p class="lead">

        </p>
    </div>
{% endblock %}